{% load i18n %}
{% load admin_urls content_tags %}

<div class="ui breadcrumb" >
     <a class="section" href="/">{% content_title '/' %}</a>
     {% for ancestor in currentNode.get_ancestors %}
         <div class="divider"> / </div>
         <a class="section" href="{{ ancestor.get_url }}" title="{{ currentNode.title }}" >{{ ancestor.label }}</a>
     {% endfor %}
     <div class="divider"> / </div>
     <a class="active section" href="{{ currentNode.get_url }}" title="{{ currentNode.title }}" >{{ currentNode.label }}</a>
     <div class="divider"> / </div> {% if action != 'view' %}{{ action }}{% endif %}
</div>

