{% load static %}

<link rel="stylesheet" href="{% static "openara/assets/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/theme.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/color-defaults.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-beige-black.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-black-beige.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-black-white.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-black-yellow.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-blue-white.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-green-white.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-black-yellow.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-white-black.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-white-blue.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-white-green.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/swatch-yellow-black.css" %}">
<link rel="stylesheet" href="{% static "openara/assets/css/fonts.css" media="screen">

<link rel="stylesheet" href="{% static 'css/timeline.css' %}">
<link rel="stylesheet" href="{% static 'css/images.css' %}">
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
