{% load staticfiles momentjs moderate_tags %}

<div class="ui main container">
    <div class="ui">
        {% include 'moderate/tags/comments.html' %}
        {% include 'moderate/tags/comment_form.html' %}
    </div>
    
    <div class="ui dividing right rail">
        
        <h4 class="ui header" >Note</h4>
        {% moderate_average_evaluation currentNode %}
        
        <h4 class="ui header" >Avis des relecteurs</h4>
        <div class="ui feed">
        {% for comment in review.reviewers %}
        <div class="event">
            <div class="label">
              <img src="{{ comment.user.image.url|default:'/static/assets/images/design/people/man-2-300x300.png' }}">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  {{ comment.email|default:"Anonymous" }}
                </a>
                <div class="date">
                  {% moment_from_now comment.modified_date %}
                </div>
              </div>
              <div class="extra text">
                <div class="ui label right" >{{ comment.status }}</div>
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="ui divider"></div>
        {% include 'moderate/tags/vote_form.html' %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/libs/moment-2.0.0.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/libs/moment/lang/fr.js' %}" ></script>

<script type="text/javascript">
    $(document).ready( function(){
            moment.lang('fr');
            $('time.moment-from-now').each( function( index ){
                    try {
                            var datetime = moment( $(this).attr('datetime') );
                            $(this).text( datetime.fromNow(false) );
                    } catch( err ) {
                        console.log(err);
                    }
            });
    });
    
</script>
