{% load momentjs moderate_tags %}
<div class="ui feed">
{% for comment in review.comments %}
<div class="event">
    <div class="label">
      <img src="{{ comment.user.image.url|default:'/static/assets/images/design/people/man-2-300x300.png' }}">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          {{ comment.email|default:"Anonymous" }}
        </a> {{ comment.subject }}
        <div class="date">
          {% moment_from_now comment.modified_date %}
        </div>
      </div>
      <div class="extra text">
        {{ comment.message }}
      </div>
      {% comment %}
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
      </div>
      {% endcomment %}
    </div>
</div>
{% endfor %}
</div>