{% load sekizai_tags %}
<div class="item-list row">
        <div class="list-item col-md-4">
            <section class="box">
                <a href="http://www.fablab-lyon.fr/" class="image"><img src="/static/we-are-makers/fol.png" alt="" /></a>
                <header>
                    <h3>Fabrique des objets libres</h3>
                </header>
                <p></p>
                <footer>

                <ul class="social">
                    <li><a class="fa fa-twitter solo" href="https://twitter.com/fablablyon"><span>Twitter</span></a></li> 
                    <li><a class="fa fa-facebook solo" href="https://fr-fr.facebook.com/fabrique.dobjetslibres"><span>Facebook</span></a></li>
            <!--    <li><a class="fa fa-external-link solo" href="http://www.fablab-lyon.fr/"><span>site</span></a></li> -->

                </ul>

                </footer>
            </section>
        </div>
        <div class="list-item col-md-4">
            <section class="box">
                <a href="https://lapaillassaone.wordpress.com/" class="image"><img src="/static/we-are-makers/lapaillasse.png" alt="" /></a>
                <header>
                    <h3>La Paillasse Saone</h3>
                </header>
                <p></p>
                <footer>
                    
        <ul class="social">
                <li><a class="fa fa-facebook solo"href="https://fr-fr.facebook.com/pages/La-Paillasse-Sa%C3%B4ne-eco-hacklab-lyonnais/648362331890903"><span>site</span></a></li> 
                    <li><a class="fa fa-twitter solo" href="https://twitter.com/lapaillassaone"><span>Twitter</span></a></li>

                </ul> 

                </footer>
            </section>
        </div>
        <div class="list-item col-md-4">
            <section class="box">
                <a href="" class="image"><img src="/static/we-are-makers/erasme.png" alt="" /></a>
                <header>
                    <h3>Erasme</h3>
                </header>
                <p></p>
                <footer>
                <ul class="social">
                    <li><a class="fa fa-twitter solo" href="https://twitter.com/erasme"><span>Twitter</span></a></li>
                    <li><a class="fa fa-facebook solo" href="https://facebook.com/erasme"><span>Facebook</span></a></li>
                </ul> 
            </footer>
            </section>
        </div>
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.youfactory.co/" class="image"><img src="/static/we-are-makers/youfactory.png" alt="" /></a>
                    <header>
                        <h3>YOUFACTORY</h3>
                    </header>
                    <p>Plateforme partagée de production dédiée au prototypage et à la fabrication de pièces uniques et de petites séries</p>
                    <footer>

                    <ul class="social">
                        <li><a class="fa fa-twitter solo" href="https://twitter.com/y0ufact0ry"><span>Twitter</span></a></li>
                        <li><a class="fa fa-facebook solo" href="https://www.facebook.com/Y0UFACTORY"><span>Facebook</span></a></li>
                    </ul>
                    </footer>
                </section>                                          
        </div>
            
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.legitenumerique.com/fr/" class="image"><img src="/static/we-are-makers/gitenumerique.png" alt="" /></a>
                    <header>
                        <h3>Le gite numérique</h3>
                    </header>

                    <footer>

                    </footer>
                </section>
        </div>

        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.panglosslabs.org/?lang=fr" class="image"><img src="/static/we-are-makers/panglosslabs.png" alt="" /></a>
                    <header>
                        <h3>Pangloss Labs</h3>
                    </header>

                    <footer>
                    </footer>
                </section>
        </div>
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://h-pl.us/" class="image"><img src="/static/we-are-makers/galerieh.png" alt="" /></a>
                    <header>
                        <h3>Galerie H</h3>
                    </header>

                    <footer>
                </footer>
                </section>                                          
        </div>
            
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://makertour.fr/" class="image"><img src="/static/we-are-makers/makertour2.png" alt="" /></a>
                    <header>
                        <h3>Maker Tour</h3>
                    </header>
                    <footer>

                    </footer>
                </section>
        </div>

        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.atelier-medias.org/" class="image"><img src="/static/we-are-makers/atelierdesmedias.png" alt="" /></a>
                    <header>
                        <h3>Atelier des medias</h3>
                    </header>

                    <footer>
                    </footer>
                </section>
        </div>
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.a-l-t-n-e-t.org/" class="image"><img src="/static/we-are-makers/altnet.png" alt="" /></a>
                    <header>
                        <h3>Pole Alnet</h3>
                    </header>

                    <footer>
                    </footer>
                </section>                                          
        </div>
            
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.txtlab.io/" class="image"><img src="/static/we-are-makers/TxTlab.gif" alt="" /></a>
                    <header>
                        <h3>TxT Lab</h3>
                    </header>

                    <footer>

                    </footer>
                </section>
        </div>

        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://littlebits.cc/community/chapters/littlebits-lyon" class="image"><img src="/static/we-are-makers/littlebits.png" alt="" /></a>
                    <header>
                        <h3>Little Bits Lyon</h3>
                    </header>

                    <footer>
                    </footer>
                </section>
        </div>
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://vivelatase.blogspot.fr/" class="image"><img src="/static/we-are-makers/Jacartronic.jpg" alt="" /></a>
                    <header>
                        <h3>Jacartronic</h3>
                    </header>

                    <footer>

                    </footer>
                </section>
        </div>
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://insideboxootsidebox.blogspot.fr/2014/10/ateliers-courant-alternatif-pour.html" class="image"><img src="/static/we-are-makers/aca.jpg" alt="" /></a>
                    <header>
                        <h3>Ateliers Courant Alternatif</h3>
                    </header>
                    <p>Ateliers d'initiation à l'électronique, au soudage et à Arduino</p>


                    <footer>
                    <ul class="social">
                        <li><a class="fa fa-facebook solo" href="https://www.facebook.com/groups/797433323660936/"><span>Facebook</span></a></li>
                        <li><a class="fa fa-envelope solo" href="mailto:contact@ootsidebox.com"><span>contact</span></a></li>
                    </ul>
                    </footer>
                </section>
        </div>
        
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.ootsidebox.com" class="image"><img src="/static/we-are-makers/ootsidebox.png" alt="" /></a>
                    <header>
                        <h3>OOTSIDEBOX</h3>
                    </header>
                    <p>Conception électronique et logicielle, ateliers Arduino & Processing et solutions propres (3D-Pad...)</p>

                    <footer>
                    <ul class="social">
                        <li><a class="fa fa-twitter solo" href="https://twitter.com/Ootsidebox"><span>Twitter</span></a></li>
                        <li><a class="fa fa-facebook solo" href="https://www.facebook.com/ootsidebox"><span>Facebook</span></a></li>
                        <li><a class="fa fa-envelope solo" href="mailto:jnl.ootsidebox@gmail.com"><span>contact</span></a></li>
                    </ul>
                    </footer>
                </section>                                          
        </div>
            
        
        <div class="list-item col-md-4">
                <section class="box">
                    <a href="http://www.atelier-objets-connectes.org/" class="image"><img src="/static/we-are-makers/fhacktory.png" alt="" /></a>
                    <header>
                        <h3>Fhacktory Découverte - Ateliers Objets Connectés</h3>
                    </header>
                    <p>L’ atelier objets connectés permet sur un weekend de découvrir et tester les technologies liés aux objets connectés: Arduino, Lego Mindstorms, Imprimantes 3Ds, 3D pads... Ouvert aux curieux, toutes les compétences un brin geek sont bienvenues.</p>
                    <footer>
                    <ul class="social">
                        <li><a class="fa fa-facebook solo" href=" https://www.facebook.com/atelier.objets.connectes"><span>Facebook</span></a></li>
                        <li><a class="fa fa-twitter solo" href="https://twitter.com/ObjetsC"><span>contact</span></a></li>
                    </ul>

                    </footer>
                </section>                                          
        </div>


</div> <!-- quisertarien -->

{% addtoblock "css" %}
<style>
.item-list{
    
}
.list-item{
    color:white;
}
.box{
    margin:20px;
    text-align:center;
}
.box h3{
    color:white;
}

.box > a.image img{
    height:100px;
}


.list-item img{
    margin-bottom:10px;
}

.list-item a{
    color:white;
}
.list-item p{
    font-size:12px;
}

.list-item .social{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.list-item .social > a.fa{
}
</style>
{% endaddtoblock %}
        
        
        