{% extends 'content/page.html' %}
{% load static i18n sekizai_tags content_tags momentjs %}


{% block body %}
{% endblock %}

{% block content %}

<div class="ui divider"></div>
<div class="ui grid">
    {% for item in currentNode.get_descendants %}
    <div class="item row" >
      <div class="three wide column date">{% moment_from_now item.modified_date %}</div>
      <div class="ten wide column">
    
         <div class="ui header">{{ item.title }}
          <p class="ui sub header sixteen wide column" >{{ item.description }}
          </p>
          </div>
      </div>
      <a class="three wide column ui button right floated" href="{{ item.get_url }}" >{% trans "read more ..." %}</a>
    </div>
    {% endfor %}
</div>
<div class="ui divider"></div>
{% endblock %}

