{% extends 'content/page.html' %}

{% block ui %}
    {% block ui-head %}
     <div class="ui sidebar right fixed menu vertical inverted overlay visible" >
        {% comment %}
        <div class="ui language dropdown right floating icon item" id="languages" data-content="Sélectionnez votre langue">
          <i class="world icon"></i>
          <div class="menu">
            <div class="header">Sélectionnez votre langue</div>
            <div class="scrolling menu">
              <div class="item" data-percent="100" data-value="en" data-text="Anglais" data-english="English"><span class="description">Français</span> French </div>
              <div class="item" data-percent="100" data-value="en" data-text="Anglais" data-english="English"><span class="description">English</span> Anglais </div>
            </div>
          </div>
        </div>
        {% endcomment %}
        <a class="icon item" href="change/" ><i class="icon"></i>Définition</a>
        <a class="icon item" href="translate/" ><i class="icon"></i>Traduction</a>
        <a class="icon item" href="location/" ><i class="icon"></i>Localisation</a>
        <a class="icon item" href="timing/" ><i class="icon"></i>Calendrier</a>
        <a class="icon item" href="upload/" ><i class="icon"></i>Fichiers</a>
      <div class="item">
    {% endblock %}
    {% block ui-form %}
    {% endblock %}
    {% block ui-foot %}
         </div>
    </div>
    {% endblock %}
{% endblock %}