{% load static content_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>openara</title>
        <link rel="icon" type="image/x-icon" href="{% static "assets/images/favicons/favicon.ico" %}" />
        <link rel="icon" type="image/png" href="{% static "assets/images/favicons/favicon.png" %}" />
        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/images/favicons/apple-touch-icon-114x114-precomposed.png" %}">
        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/images/favicons/apple-touch-icon-72x72-precomposed.png" %}">
        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="{% static "assets/images/favicons/apple-touch-icon-60x60-precomposed.png" %}">
        <base href="{{ currentNode.get_url }}" ></base>
        {% block extra-styles %}
        {% include 'assets/styles.html' %}
        {% include 'assets/fonts.html' %}
        {% endblock %}
    </head>
    <body>

        <header id="masthead" class="navbar navbar-sticky swatch-white-black" role="banner">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        {% comment %}<img src="/static/images/logo-openara.png" alt="openara">{% endcomment %}
                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">

                    {% if request.user.is_staff %}
                    {% comment %}
                    <div class="sidebar-widget widget_search pull-right">
                        <form action="/search/">
                            <div class="input-group">
                                <input name="keyword" class="form-control" type="text" placeholder="Search here....">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    {% endcomment %}
                    {% endif %}

                    <ul class="nav navbar-nav navbar-right" style="text-align:center">
                        <li class="{% if currentNode.get_url == '/' %}active{% endif %}"><a href="/">Accueil</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="{% if currentNode.get_url == '/logout/' %}active{% endif %}"><a href="/logout/">Déconnexion</a></li>
                        {% endif %}

                        {% comment %}
                        {% if request.user.is_authenticated %}
                        {% else %}
                        <li class="{% if currentNode.get_url == '/register/' %}active{% endif %}"><a href="/register/">Nous rejoindre</a></li>
                        <li class="{% if currentNode.get_url == '/profile/' %}active{% endif %}"><a href="/profile/">Profile</a></li>
                        {% endif %}
                        <li class="{% if currentNode.get_url == '/subscribe/' %}active{% endif %}"><a href="/subscribe/">Subscribe</a></li>
                        <li class="{% if currentNode.get_url == '/contact/' %}active{% endif %}"><a href="/contact/">Contact</a></li>
                        {% endcomment %}
                    </ul>
                </nav>
            </div>
        </header>

{% block page_body %}

        {% block page-breadcrumb %}
            {% if request.path != '/' %}
            <div class="container">{% content_breadcrumb currentNode %}</div>
            {% endif %}
        {% endblock %}
        {% block page-message %}
            {% if messages %}
                {% for message in messages %}
                  <div {% if message.tags %} class="ui message alert alert-{{ message.tags }}"{% endif %}>
                      <strong>{{ message }}</strong>
                  </div>
                {% endfor %}
            {% endif %}
        {% endblock %}


        {% block page_top_bottom %}

            {% if user.is_authenticated %}
                {% if has_permission %}
                    {% block ui-head %}{% endblock %}
                    {% block ui %}
                    {% endblock %}
                    {% block ui-foot %}{% endblock %}
                {% endif %}
            {% else %}

            {% endif %}

        {% endblock %}


        {% block page_content %}
        <div id="content" role="main">

            {% block page-header %}
            {% endblock %}

            {% block body %}
            <section class="section swatch-white-yellow">
                <div class="container">
                    <header class="section-header underline">
                        <img src="{% static "images/logo-openara.png" %}" width="133" /><br/>
                        <h1 class="headline hyper hairline">{{ currentNode.title }}</h1>
                        <p class="big">{{ currentNode.description }}</p>
                    </header>
                </div>
            </section>
            {% endblock %}

            <section id="page-content" class="section swatch-yellow-black has-top">
                <div class="decor-top">
                    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
                    </svg>
                </div>
                {% block content %}
                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                    </div>
                </div>
                {% endblock %}
            </section>

            <footer id="footer" role="contentinfo">
                <section class="section swatch-black-yellow has-top">
                    <div class="decor-top">
                        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
                        </svg>
                    </div>
                    {% block page-footer %}
                    {% endblock %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
                                    <ul class="unstyled inline small-screen-center social-icons social-background social-big">
                                        <li>
                                            <a target="_blank" href="http://github.com/openara">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        {% comment %}
                                        <li>
                                            <a target="_blank" href="http://www.twitter.com/openara">
                                                <i class="fa fa-cc"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="mailto:openara@gmail.com">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        {% endcomment %}
                                    </ul>
                                </div>
                                <p class="separator"><i class="fa fa-cc fa-4x" style="color:#ccc;"></i></p>
                                <div id="text-4" class="sidebar-widget widget_text">
                                    <div class="textwidget">openara | reseau libre et ouvert
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
        {% endblock %}
{% endblock %}

        <a class="go-top hex-alt" href="javascript:void(0)">
            <i class="fa fa-angle-up"></i>
        </a>
        <script src="{% static "assets/js/packages.min.js" %}"></script>
        <script src="{% static "assets/js/theme.min.js" %}"></script>
        {% block extra-scripts %}{% endblock %}
    </body>

</html>
